
	<figure class="card card-product">
        {% if instance.image %}
        <div class="img-wrap"> <img src="{{ instance.image.url }}"></div>
        {% endif %}
		<figcaption class="info-wrap">
			<a href="#" class="title">{{ instance.title }}</a>
			<div class="price-wrap">
				<span class="price-new">{{ instance.price}}</span>
                <del class="price-old">$1980</del>
                <a href="{{ instance.get_absolute_url }}" class="btn btn-warning">View</a>
            </div> <!-- price-wrap.// -->
		</figcaption>
	</figure> <!-- card // -->
